* {
    margin: 0;
    padding: 0;
}

.square {
    position: absolute;
    border: 1px solid black;

}

.player1,
.player2 {
    position: absolute;
    left: 500px;
    font-size: 28px;
}

.player1 {
    top: 180px;
}

.player2 {
    top: 210px;
}

span {
    margin-left: 10px;
}

.btn {
    position: absolute;
    top: 10px;
    left: 500px;
    border: 1px solid black;
    padding: 20px 50px;
    font-size: 30px;
    font-family: arial, sans-serif;
    cursor: pointer;
    background-color: #fff;
}

.active {
    background-color: #000;
}

.options {
    position: absolute;
    top: 100px;
    left: 500px;
    font-size: 20px;
    z-index: 1;
}

.multiplayer {
    position: absolute;
    top: 130px;
    left: 500px;
}

.computer {
    position: absolute;
    top: 150px;
    left: 500px;
}