* {
    margin: 0;
    padding: 0;
}

.square {
    position: absolute;
    border: 1px solid black;
}

.active {
    background-color: #000;
}

button {
    position: absolute;
    left: 620px;
    width: 150px;
    height: 70px;
    font-size: 26px;
    font-family: arial;
    cursor: pointer;
}

.start {
    top: 30px;
}

.pause {
    top: 120px;
}

.reset {
    top: 210px;
}

.random {
    top: 300px;
}