* {
    margin: 0;
    padding: 0;
}

.square {
    position: absolute;
    border: 1px solid black;
}

.active {
    background-color: #000;
}

button {
    position: absolute;
    top: 67%;
    width: 150px;
    height: 70px;
    font-size: 26px;
    font-family: arial;
    cursor: pointer;
}

.start {
    left: 50px;
}

.pause {
    left: 220px;
}

.reset {
    left: 390px;
}