* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #444;
}

h1 {
    font-family: 'kaushan script';
    text-align: center;
    color: #F2CB05;
    margin-top: 15px;
}

.fa-clipboard-list {
    margin-left: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 35%;
    justify-content: space-around;
    border-bottom: 2px solid #737373;
}

input.add,
input.search {
    width: 250px;
    margin: 25px 10px 25px 0;
    background-color: #737373;
    border: none;
    padding: 15px;
    border-radius: 10px;
    color: white;
    outline: none;

}

input.add::placeholder,
input.search::placeholder {
    color: white;
    font-family: 'oswald';
    font-size: 14px;
    opacity: .4;
}

button {
    border: none;
    background-color: #444;
    outline: none;
}

.fa-plus-circle,
.fa-search {
    color: #F2CB05;
    font-size: 26px;
    padding: 15px;
}

.fa-minus-circle {
    color: #F2CB05;
    font-size: 26px;
    padding-right: 15px;
    padding-left: 30px;
}

.fa-dot-circle {
    color: #F2CB05;
    font-size: 10px;
    padding: 10px 20px 0 30px;
}

h2 {
    font-family: 'oswald', sans-serif;
    color: #737373;
    text-align: center;
    margin: 10px 0;
}

i {
    pointer-events: none;
}


.task {
    display: grid;
    font-family: 'oswald', sans-serif;
    font-size: 20px;
    grid-template-columns: 1fr 6fr 1fr;
    /* align-items: center;
    align-content: center;
    justify-content: space-between; */
    margin: 15px 15px 15px 0;
    color: white;
    word-break: break-all;
}


@media (orientation: portrait) and (max-width: 359px) {

    input.add,
    input.search {
        width: 200px;
        padding: 12px;
        margin: 20px 10px 20px 0;
    }

    input.add::placeholder,
    input.search::placeholder {
        font-size: 12px;
    }

    .task {
        font-size: 18px;
    }

    h1 {
        font-size: 26px;

    }
}

@media (orientation: portrait) and (min-width: 410px) {

    input.add,
    input.search {
        width: 300px;
        padding: 20px;
        margin: 30px 10px 30px 0;
        font-size: 17px;
    }

    input.add::placeholder,
    input.search::placeholder {
        font-size: 17px;
    }

    .fa-plus-circle,
    .fa-search,
    .fa-minus-circle {
        font-size: 30px;
    }

    .task {
        font-size: 24px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 30px;
    }