* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #444;
}

h1 {
    font-family: 'kaushan script';
    text-align: center;
    color: #F2CB05;
}

.fa-clipboard-list {
    margin-left: 10px;
}












/* Color Theme Swatches in Hex */
.panorama--luxury-background--silver-1-hex {
    color: #D9D9D9;
}

.panorama--luxury-background--silver-2-hex {
    color: #A6A6A6;
}

.panorama--luxury-background--silver-3-hex {
    color: #737373;
}

.panorama--luxury-background--silver-4-hex {
    color: #595959;
}

.panorama--luxury-background--silver-5-hex {
    color: #404040;
}

/* Color Theme Swatches in RGBA */
.panorama--luxury-background--silver-1-rgba {
    color: rgba(216, 216, 216, 1);
}

.panorama--luxury-background--silver-2-rgba {
    color: rgba(165, 165, 165, 1);
}

.panorama--luxury-background--silver-3-rgba {
    color: rgba(114, 114, 114, 1);
}

.panorama--luxury-background--silver-4-rgba {
    color: rgba(89, 89, 89, 1);
}

.panorama--luxury-background--silver-5-rgba {
    color: rgba(63, 63, 63, 1);
}

/* Color Theme Swatches in HSLA */
.panorama--luxury-background--silver-1-hsla {
    color: hsla(0, 0, 85, 1);
}

.panorama--luxury-background--silver-2-hsla {
    color: hsla(0, 0, 65, 1);
}

.panorama--luxury-background--silver-3-hsla {
    color: hsla(0, 0, 45, 1);
}

.panorama--luxury-background--silver-4-hsla {
    color: hsla(0, 0, 35, 1);
}

.panorama--luxury-background--silver-5-hsla {
    color: hsla(0, 0, 25, 1);
}