* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    align-content: space-around;
    justify-content: center;
    z-index: -1;
}

.container div {
    display: flex;
    width: 550px;
    height: 48%;
    overflow: hidden;
    position: relative;

}

div.clockpl,
div.clockny,
div.clockru,
div.clockch {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 50px;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
    font-size: 30px;
    color: white;
    line-height: 50px;
    align-content: center;
    font-weight: bold;
    font-family: arial;

}

/* div.clockpl span,
div.clockny span,
div.clockru span {
    align-content: center;
    font-weight: bold;
    font-family: arial;

} */