* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    align-content: space-around;
    justify-content: space-around;
}

.container div {
    width: 48%;
    height: 48%;
    overflow: hidden;
}